:root {
    --white: #fffbfb;
    --grey: #131313;
    --black: #050505;
    --red: #3D0C11;
    --light-red: #ff7070;
    --green: #58ff52;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    grid-template: 1fr 2fr 6fr / 1fr;
    height: 100vh;
    background-color: var(--grey);
}
header {
    display: grid;   
    grid-area: 1 / 1 / 2 / 2;
    align-self: stretch;
    font-size: 1.3em;
    color: var(--white); 
    background-color: var(--black);
}
h1 {
    align-self: center;
    justify-self: center;
}
main {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 1fr 8fr;
    background-color: var(--grey);
}
button {
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    transition: 100ms;
}
button:hover{
    background-color: rgb(138, 137, 137);
    transition: 100ms;
}
.btn-add {
    border-radius: 7px;
    font-size: 1.2em;
    place-self: center;
    height: 50px;
    width: 150px;
    border: 0;
}
.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 20px;
    padding: 30px;
    justify-content: stretch;
    align-items: stretch;
}
.book {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    height: 300px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    gap: 6px;
    font-size: 1.2em;
    border-left: 8px var(--red) solid;
}
.book > div {
    align-self: center;
    justify-self: center;
    border-bottom: var(--red) solid 3px;
}
.book > button {
    border: 0;
    border-radius: 8px;
    font-size: 0.9em;
}
.delete:hover{
    background-color: #5f5f5f77;

}
#read {
    background: var(--green);
}
#read:hover {
    background-color: rgb(161, 255, 158)
}   
#notRead {
    background-color: var(--light-red);
}
#notRead:hover {
    background-color: #ff9393;
}
#popUp {
    display: none;
    flex-flow: column;
    position: absolute; 
    gap: 10px;
    left: 0; 
    right: 0;
    top: 30%;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto; 
    margin-right: auto;
    background-color: var(--black);
    color: var(--white);
    z-index: 1;
    transition: 300ms;
}
form {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 12px;
}
button[type="submit"] {
    border-radius: 5px;
    background-color: var(--red);
    font-size: 1.1em;
    height: 38px;
    border: none;
    transition: 100ms;
}
button[type="submit"]:hover {
    background-color: #421519;
    transition: 100ms;
}
input[type="text"],input[type="number"] {
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
input:focus{
    border: none;
}
#closePopBtn {
    border-radius: 5px;
    background-color: var(--grey);
    font-size: 1.1em;
    height: 38px;
    border: none;
    transition: 100ms;
}
#closePopBtn:hover {
    background-color: #353535;
    transition: 100ms;
}